<!DOCTYPE html>

<html dir="rtl" lang="ar">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>المخزون</title>
<link href="../css/style.css" rel="stylesheet"/>
</head>
<body data-page="profile">
<div class="app">
 

  <iframe class="sidebar-frame" src="./sidebar - 2.html " title="Sidebar"></iframe>

  <div class="main">

    <div id="headerMount">
    </div>


<div class="content profile-content">
  <div class="profile-container">
    <div class="profile-header">

      <h1 class="profile-title" style="margin-bottom: 10px;"> عرض مخزون الأدوية</h1>
      <p class="profile-desc">إدارة ومراقبة مستويات الأدوية المتاحة في المستودع</p>
    </div>
    
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>جدول المخزون</title>

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">





<div id="inventory-card">
    <table class="inventory-table" id="table">
        <thead>
            <tr>
                <th style="text-align: center;">اسم الدواء</th>
                <th style="text-align: center;">الكمية المتوفرة</th>
                <th style="text-align: center;">تاريخ الانتهاء</th>
                <th style="text-align: center;">الحالة</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border-left: hidden ;font-family: Inter;font-weight: 600;
                 font-style: Semi Bold;
                 font-size: 18px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 text-align: center;">بانادول اكسترا 500 ملجم</td>
                <td style="border-left: hidden;color: #7F7676;">120 علبة</td>
                <td style="border-left: hidden;font-family: Inter;font-weight: 600;
                 font-style: Semi Bold;
                 font-size: 18px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 text-align: center;">2027/12</td>
                <td style="text-align: center;border-left: hidden;"><span class="status available" >متوفر</span></td>

            </tr>

            <tr>
                <td 
                style="border-left: hidden;font-family: Inter;font-weight: 600;
                 font-style: Semi Bold;
                 font-size: 18px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 text-align: center;"
                 >أوجمنتين مضاد حيوي 1 جم</td> 
                 <td style="border-left: hidden;color: #7F7676;">54 علبة</td>  
                <td style="border-left: hidden;font-family: Inter;font-weight: 600;
                 font-style: Semi Bold;
                 font-size: 18px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 text-align: center;">2028/02</td>
                 <td style="text-align: center;border-left: hidden;"><span class="status available" >متوفر</span></td>

            </tr>

            <tr>
                
                <td style="border-left: hidden;font-family: Inter;font-weight: 600;
                 font-style: Semi Bold;
                 font-size: 18px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 text-align: center;">فنتولين بخاخ صدر</td>
                <td style="border-left: hidden;color: #7F7676;">8 حبات</td>
                <td style="border-left: hidden;font-family: Inter;font-weight: 600;
                 font-style: Semi Bold;
                 font-size: 18px;
                 line-height: 100%;
                 letter-spacing: 0%;
                 text-align: center;">2026/01</td>
                <td style="text-align: center;border-left: hidden;"><span class="status low">قارب على النفاذ</span></td>

            </tr>
        </tbody>
    </table>

    <div class="show-more">عرض باقي السجلات</div>
</div>





        
<script src="../js/password.js"></script>
<script src="../js/include-header.js"></script>
</body>
</html>
